{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">
            <img style="width:80%; " src="/static/media/monitor.png" />
    </div>

{% endblock %}
<form method = "post">
    {% csrf_token %}
<div class= "row">

<div class= "col-md-6 col-md-offset-3">
<div class= "form-group">

<label for ="username"> nombre de usuario :</label>
 <input class = "form-control" type=" text" name= "username"> 

</div>
</div>
</div>
<div class= "row">
<div class= "col-md-6 col-md-offset-3">
<div class= "form-group">
    <label for ="username"> contraseña: </label>
    <input class = "form-control" type=" text" name= "password"> 
</div>
</div>
</div>

<div class= "row">
</div class= "col-md-6 col-md-offset-3">
<div class= "form-group">
    <label for= "username"> olvide  </a>
    <input class = "form-control" type=" text" name="ingresar"> 
</div>
</div>
</div>

</form>